  <table class="table">
    <thead>
    <tr>
         
        <th >Product</th>
       
        <th class="text-center">Category</th>
        <th class="text-center">Price</th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let item of products ">
        <td >
        <div class='col-sm-3'>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" alt="Avatar" [src]="item.imageUrl">   <b>{{ item.title }}</b>  
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
       
      
           
        </td>
       
        <td class="text-center ">{{item.categories.name}}</td>

        <td  class="text-center ">{{item.price}}</td>
       
    </tr>
    
    </tbody>

    <tfoot>
  
    <tr>
        <th></th>
        <th></th>
        
        
       
    </tr>
    </tfoot>
</table>