
@import "~bootstrap/dist/css/bootstrap.css";


.container {
    margin-top: 80px;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}


.scale {
    width: 50px;
}
